---
import Layout from './Base.astro';
import Navigation from '../components/Navigation.astro';
import TableOfContents from '../components/TableOfContents.astro';
import PrevNextNavigation from '../components/PrevNextNavigation.astro';

import type { MarkdownHeading } from 'astro';
import { GITHUB_EDIT_URL, navigation } from '../config';

type Props = {
  title: string;
  headings: MarkdownHeading[];
};

const { title, headings } = Astro.props as Props;

const currentPage = Astro.url.pathname;
const currentPageMatch = currentPage.endsWith('/')
  ? currentPage.slice(0, -1)
  : currentPage.slice(0);
const currentSection = navigation.find((section) =>
  section.links.find((link) => link.link == currentPageMatch),
);

const currentFile = `src/content${currentPage.replace(/\/$/, '')}.md`;
const githubEditUrl = `${GITHUB_EDIT_URL}/${currentFile}`;
---

<Layout title={title}>
  <div class="mx-auto grid max-w-7xl gap-4 md:grid-cols-12">
    <div class="hidden md:col-span-3 md:block">
      <aside class="sticky top-20 px-4 py-16">
        <Navigation currentPage={currentPage} navigation={navigation} />
      </aside>
    </div>
    <div class="min-w-0 max-w-2xl px-4 py-16 md:col-span-9 lg:col-span-6">
      <article>
        <header class="space-y-2">
          {
            currentSection && (
              <span class=" bg-gradient-to-r from-red-600 via-pink-600 to-violet-500 bg-clip-text text-sm font-medium text-transparent">
                {currentSection.title}
              </span>
            )
          }
          <h1 class="text-4xl font-semibold">{title}</h1>
        </header>

        <div
          class="prose prose-lg mt-6 dark:prose-invert prose-h2:scroll-mt-24 prose-h3:scroll-mt-24 prose-pre:scrollbar:h-1.5 prose-pre:scrollbar:w-1.5 prose-pre:scrollbar:bg-transparent prose-pre:scrollbar-track:rounded prose-pre:scrollbar-track:bg-gray-800 prose-pre:scrollbar-thumb:rounded prose-pre:scrollbar-thumb:bg-gray-600"
        >
          <slot />
        </div>
      </article>
      <PrevNextNavigation />
      <div
        class="border-t border-gray-200 pb-20 pt-10 text-right dark:border-gray-800"
      >
        <a
          href={githubEditUrl}
          class="text-right text-sm dark:text-gray-500 dark:hover:text-gray-400"
        >
          Edit this page on GitHub
        </a>
      </div>
    </div>
    <div class="hidden lg:col-span-3 lg:block">
      <aside class="sticky top-20 px-4 py-16">
        {headings.length > 0 && <TableOfContents headings={headings} />}
      </aside>
    </div>
  </div>
</Layout>
